<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CodeGeneration.Roslyn.Attributes" version="0.7.63" targetFramework="net472" />
  <package id="CodeGeneration.Roslyn.Tool" version="0.7.63" targetFramework="net472" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="StronglyTypedId" version="0.2.1" targetFramework="net472" />
  <package id="StronglyTypedId.Attributes" version="0.2.1" targetFramework="net472" />
  <package id="StronglyTypedId.Generator" version="0.2.1" targetFramework="net472" developmentDependency="true" />
</packages>